<launch>

	<node pkg="rsdmap_package" name="rsdmap_node" type="rsdmap_node" output="screen">
			<param name="lidar_sub_topic" value="/base_scan" />
			<param name="visualization_marker_pub_topic" value="/fmExtractors/viz_marker_particle" />
			<param name="point_cloud_pub_topic" value="/fmExtractors/point_cloud" />
			<param name="odom_sub_topic" value="/odom" />
			<param name="map_pub_topic" value="/fmExtractors/map" />
			<param name="particles" value="100" />
			<param name="length_x" value="0.5" />
			<param name="length_y" value="0.5" />
			<param name="off_x" value="5" />
			<param name="off_y" value="5" />
			<param name="max_ang" value="2" />
<!--
			<param name="measurement_noise" value="0.02" />
			<param name="movement_noise" value="0.02" />
			<param name="turning_noise" value="0.05" />
			-->
			<param name="measurement_noise" value="0.02" />
			<param name="movement_noise" value="0.02" />
			<param name="turning_noise" value="0.05" />
			<param name="min_valid_measurements" value="10" />
			<param name="map_resolution" value="0.05" />
	</node>

</launch>